@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #d72323;
  --color-secondary: #f05454;
  --color-background: #faecef;
  --color-container: #fef9fa;

  --font-sans: "Playpen Sans", cursive;
  --font-heading: "Playpen Sans", cursive;
}
